/*
style.css
*/
/* 
    Created on : 27 Sep 2020, 2:26:57 PM
    Author     : Sandile
*/

body{
    margin: 0;
    padding: 50px 0px;
    background: repeating-linear-gradient(white, grey, black) fixed;
}
button.clear{
    background: #388293;
}

table{
    background: white;
    padding: 2px 2px;
    border: 3px solid black;
    text-align: center;
    padding-bottom: 0px;
    border-radius: 15px;
    box-shadow: 10px 10px 27px #4d0909;
}

input[type = "text"]{
    height: 180px;
    width: 450px;
    font-size: 45px;
    font-weight: bold;
    border: 1px solid #000;
    color: #9afdff;
    border-radius: 5px;
    padding: 1px 15px;
    background: black;
    margin-bottom: 25px;
    font-family: cursive;
    margin-top: #dedede;
    border-bottom: 1px solid #cc4014;
    border-radius: 10px;
    
}
button.equal{
    width: 90%;
    background-color: #933838;
}
button{
    padding: 10px 20px;
    width: 85px;
    height: 60px;
    font-size: 26px;
    font-weight: bolder;
    font-family: cursive;
    background: #f3aaaa;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    color: black;
    outline: none;
    border-radius: 20px;
}
#equal{
    width: 190%;
}